multi-word author surnames incorrectly rendered in references

### Describe the issue

In references, names like 
"Koen De Schepper" or "John D. Rockefeller III" 
render as 
"Schepper, K. D." or "III, J. D. R."

This seems to be based on narrow assumptions about the form of people's names internationally.

To fix this it will be necessary to ensure the bibxml database holds surname, initials and fullname like it used to. Now it only holds fullname, see for example:
    https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.ietf-tsvwg-l4s-arch.xml

Then references would be simply rendered as <surname, initials> rather than having to use heuristics on fullname.


### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

Surely either way, it's an xml2rfc issue:
```
if ( change_citation_style(fullname) ) 
    xml2rfc_issue();
elif ( keep_citation_style(surname, initials) )
    bibxml_issue() && xml2rfc_issue();
fi
```
But the above code snippet implies that the first question is:
What/who decides citation style policy?



This particular behavior issue with the initials is being fixed in #264 .

In my understanding, the citation style used in RFCs (and Internet-Drafts) is set by the RFC Editor and the RPC. 

There are citation standards like ISO 690, APA etc., but ultimately it is the decision of the publisher. If the community would like to revise the current citation style used, I would strongly recommend looking into ISO 690 (as one of the editors of it), since it provides a metalanguage for developing citation styles. 

 

#264 presumes the initials are available, but as proven by the example URL above, bibxml database no longer includes initials. Therefore #264 must be talking about rendering names of authors of the document itself, not references to other documents. 
**Summary: #264 is not relevant to this issue.**

Regarding who sets citation style; I was wrong in my logic: the first question is actually:
**Q1. Will the bibxml-service project consider including surname & initials in the database?**
The question of citation style only arises if the answer is no.


Another example I am now facing, with author "The Bufferbloat community", which renders as "community, T. B."
Using &nbsp; for the spaces is not a work-round, unfortunately.

So I would like an answer to Q1 above pls.

That is not an author name, but an organization

Thanks. However, having just tested it, the bibxml database strips out the organization from the author element. So that's another problem to be fixed.

I've tested xml2rfc on an inline reference with a non-empty organization but an empty fullname, and it does render the organization where the author is normally rendered. So if the bibxml database held initials, surname and organization, this new little problem would be solved, and the original problem could be too.

That even more strongly begs an answer to my outstanding question:
**Q1. Will the bibxml-service project consider including surname & initials [and organization] in the database?**

> presumes the initials are available, but as proven by the example URL above, bibxml database no longer includes initials
> Summary: https://github.com/ietf-tools/bibxml-service/issues/264 is not relevant to this issue.

This is an incorrect summary. The issue about initials is indeed being addressed in #264 .

> Q1. Will the bibxml-service project consider including surname & initials in the database?

They are already included. The "formatted initials" information is being addressed in #264.

> Q1. Will the bibxml-service project consider including [organization] in the database?

This question is ambiguous, it is not differentiating the two cases of:
* "organization as an author" vs
* "an author/editor is affiliated with an organization".

Attempting to address both:
* The bibxml-service already supports "an author/editor is affiliated with an organization" for Internet-Drafts.
    * For RFCs, the "organization" field is not supported, because affiliation information is not provided by the RFC Editor (i.e. the authoritative location from where RFCs are published)
* The bibxml-service supports "organization" as an author for non-IETF bibliographic data.
    * For Internet-Drafts and RFCs, "organization as an author" is not an intended use case and is therefore not supported, please refer to the XMLRFC schema (https://datatracker.ietf.org/doc/html/rfc7991#section-2.35).

@bbriscoe I have investigated your particular issue:

This is the data source of the `draft-ietf-tsvwg-l4s-arch` reference, which is an unversioned reference currently pointing to the latest version, `draft-ietf-tsvwg-l4s-arch-19`:
https://github.com/ietf-tools/relaton-data-ids/blob/eb71498cb05e4bd0b1aee574f9946fbd41c09b50/data/draft-ietf-tsvwg-l4s-arch-19.yaml#L25-L71

I can verify that currently it is only providing `completename`. And this is correct, because the source I-D information does not provide the `initials` and `surname` information.

Here's the data source for your document:

```xml
<reference anchor="I-D.ietf-tsvwg-l4s-arch">
   <front>
      <title>Low Latency, Low Loss, Scalable Throughput (L4S) Internet Service: Architecture</title>
      <author fullname="Bob Briscoe">
	 <organization>Independent</organization>
      </author>
      <author fullname="Koen De Schepper">
	 <organization>Nokia Bell Labs</organization>
      </author>
      <author fullname="Marcelo Bagnulo">
	 <organization>Universidad Carlos III de Madrid</organization>
      </author>
      <author fullname="Greg White">
	 <organization>CableLabs</organization>
      </author>
      <date month="July" day="27" year="2022" />
      <abstract>
	 <t>   This document describes the L4S architecture, which enables Internet
```

Notice that it does not supply the `initials` and `surname` attributes in the `<author>` element.

Some other Internet-Drafts, do provide them:
```xml
<reference anchor="I-D.ayers-low-power-interop">
   <front>
      <title>Design Considerations for Low Power Internet Protocols</title>
      <author initials="H." surname="Ayers" fullname="Hudson Ayers">
         <organization>Stanford University</organization>
      </author>
      <author initials="P." surname="Levis" fullname="P Levis">
         <organization>Stanford University</organization>
      </author>
      <date month="February" day="11" year="2021" />
      <abstract>
	 <t>   Low-power wireless networks provide IPv6 connectivity through...
```

And the output from bib.ietf.org correctly reflects this information.
https://bib.ietf.org/get-one/by-docid/?docid=draft-ayers-low-power-interop-02&doctype=Internet-Draft
<img width="1076" alt="Screen Shot 2022-08-29 at 10 13 28 AM" src="https://user-images.githubusercontent.com/11865/187109606-113a152d-b736-4542-8640-d20bdd99519c.png">

That said, the bibxml link for items that contain initials are not currently working because of #264. We will update you once this issue is fixed.


To further help you, we would need some additional information from your Internet-Draft:
1. Did you encode the `initials` and `surname` information in your RFC editor?
2. If so, can you check whether xml2rfc validates your draft, and whether the generated RFC XML contains the `initials` and `surname` fields?
3. If so, this may be a datatracker issue, because the BibXML service reflects information from datatracker.

@ronaldtse thank you for looking into this more deeply. Before answering your questions, I think you've got us closer to the issue:

The XML source you quote for the latest version of this draft (-19) is not the same as the XML source on the datatracker for the latest version here: https://www.ietf.org/archive/id/draft-ietf-tsvwg-l4s-arch-19.xml which contains surname and initials (and in one case the editor role). The latter is identical to that I submitted (checked with Linux diff). (Indeed: the XML of all submitted versions of all drafts I edit have included surname and initials in the author element). So, where did the XML source you quoted come from?

Now your questions:

> 1. Did you encode the initials and surname information in your RFC editor?

Y (as above)
> 2. If so, can you check whether xml2rfc validates your draft, and whether the generated RFC XML contains the initials and surname fields?

Output of idnits pasted below. Generated RFC XML is presumably that on the datatracker (linked above), so Y, it contains surname & initials.
> 3. If so, this may be a datatracker issue, because the BibXML service reflects information from datatracker.

There's no proof (yet) to believe it's solely the datatracker side. It seems like an issue with the process interfacing between datatracker and BibXML. 

The following may be relevant: I maintain this draft (and all 9 of those I am currently editor for) in v2 RFCXML. I convert to v3 RFCXML before submitting each rev. It's a pain, but it's 'cos the xml2rfc plugin for the XMLMind XML editor that I use does not yet support v3.

idnits output follows.

```
idnits 2.17.1 

draft-ietf-tsvwg-l4s-arch-19.txt:
-(1697): Line appears to be too long, but this could be caused by non-ascii characters in UTF-8 encoding

  Checking boilerplate required by RFC 5378 and the IETF Trust (see
  https://trustee.ietf.org/license-info):
  ----------------------------------------------------------------------------

     No issues found here.

  Checking nits according to https://www.ietf.org/id-info/1id-guidelines.txt:
  ----------------------------------------------------------------------------

  == There are 6 instances of lines with non-ascii characters in the document.


  Checking nits according to https://www.ietf.org/id-info/checklist :
  ----------------------------------------------------------------------------

     No issues found here.

  Miscellaneous warnings:
  ----------------------------------------------------------------------------

     No issues found here.

  Checking references for intended status: Informational
  ----------------------------------------------------------------------------

  -- Obsolete informational reference (is this intentional?): RFC 4960
     (Obsoleted by RFC 9260)

  -- Obsolete informational reference (is this intentional?): RFC 7540
     (Obsoleted by RFC 9113)


     Summary: 0 errors (**), 0 flaws (~~), 1 warning (==), 2 comments (--).

     Run idnits with the --verbose option for more detailed information about
     the items above.
```
The 6 non-ascii characters are all due to characters in author names of references from the bibxml database, because of the way I start from v2 RFCXML each time - so I plan to continue to ignore this warning until the final rev for the RFC Editor.

I don't know why it complains about Line 1697. In [draft-ietf-tsvwg-l4s-arch-19.txt](https://www.ietf.org/archive/id/draft-ietf-tsvwg-l4s-arch-19.txt) it seems quite innocuous, as does the XML that generates that line.

Sometime around August 20 datatracker catastrophically lost the ability to generate useful names in citations.
This regression needs to be fixed.


The datatracker event seems to coincide with the 8.14.0 release.
I can't find anything in the release notes that would explain the regression.


The issue I am reporting here goes back a lot further.

Taking the example (De Schepper, Koen) that I used, references to I-Ds with the author in the form "Schepper, K. D." started some time between 10 Mar 2021 & 07 May 2021:

- 07 May 2021 https://datatracker.ietf.org/doc/html/draft-ietf-tsvwg-ecn-l4s-id-15
- 10 Mar 2021 https://datatracker.ietf.org/doc/html/draft-ietf-tsvwg-aqm-dualq-coupled-14

In the 10 Mar 2021 draft and in all drafts prior to that since my earliest record of this name (19 Oct 2015), they were also wrong, but differently ("Schepper, K."):

- 19 Oct 2015 https://datatracker.ietf.org/doc/html/draft-briscoe-tsvwg-ecn-l4s-id-00


You may be getting similar symptoms from a different bug.  The broken bibxml is new.

Here is the start of a bibxml file I have from reference.I-D.draft-ietf-tsvwg-aqm-dualq-coupled-13.xml, dated Feb 20  2021; this looks good to me, i.e., it didn't have the fullname-only amnesia.

```
<?xml version="1.0" encoding="UTF-8"?>
<reference anchor="I-D.ietf-tsvwg-aqm-dualq-coupled">
   <front>
      <title>DualQ Coupled AQMs for Low Latency, Low Loss and Scalable Throughput (L4S)</title>
      <author initials="K." surname="De Schepper" fullname="Koen De Schepper">
         <organization>Nokia Bell Labs</organization>
      </author>


Whoa, even the newest reference.I-D.draft-ietf-tsvwg-aqm-dualq-coupled-25.xml has all the names.  Just the reference.I-D.ietf-tsvwg-aqm-dualq-coupled.xml has full name only.  Since about ten days ago.


OK, I see that my local record starts to have fullname-only disease around Feb 15 2021, which is when I started to use datatracker instead of tools for I-D bibxml.


```
c233f07b5de74d542eea6c916953003001e157e0
Author:     Henrik Levkowetz <henrik@levkowetz.com>
AuthorDate: Tue Nov 5 18:10:29 2019 +0000
```

adds the template variant with fullname= only.  I don't understand the context well enough to decode this further.

@cabo Pls provide full URLs. The BIBXML of the most recent drafts (all posted about 3.5 hours ago) at these URLs only have fullname:

https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.draft-ietf-tsvwg-l4s-arch-20.xml
https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.draft-ietf-tsvwg-ecn-l4s-id-29.xml
https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.draft-ietf-tsvwg-aqm-dualq-coupled-25.xml


On 29. Aug 2022, at 16:15, Bob Briscoe ***@***.***> wrote:
> 
> 
> @cabo Pls provide full URLs. The BIBXML of the most recent drafts (all posted about 3.5 hours ago) at these URLs only have fullname:
> 
> https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.draft-ietf-tsvwg-l4s-arch-20.xml
> https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.draft-ietf-tsvwg-ecn-l4s-id-29.xml
> https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.draft-ietf-tsvwg-aqm-dualq-coupled-25.xml
> 

I was talking about datatracker as a source (I’m currently not recommending using bib.ietf.org as a source), e.g.:

https://datatracker.ietf.org/doc/bibxml3/draft-ietf-tsvwg-l4s-arch.xml
(Fullname only)
vs.
https://datatracker.ietf.org/doc/bibxml3/draft-ietf-tsvwg-l4s-arch-20.xml
(Correct names AFAICT)

Took me a long time to find out why I was confused about this all the time…

Apart from the fullname defect, the files look identical (i.e., they also have the same anchor), which may be good if you only need one of them (otherwise you need a rewriter like that in kramdown-rfc).

Grüße, Carsten



OK, thank you. This should hopefully help someone to track down the bug that is stripping out the surname and initials from the one with the unversioned filename.

I'm not convinced that xml2rfc would use "surname, initials" if it was available, so I'd like to see the present issue left open until your https://github.com/ietf-tools/datatracker/issues/4384 is resolved.

Bob  - one of the root issues is now explained at https://github.com/ietf-tools/datatracker/issues/4384 and we'll work to correct it.

But you opened this ticket with some examples that I'd like more clarity on:


> In references, names like
> "Koen De Schepper" or "John D. Rockefeller III"
> render as
> "Schepper, K. D." or "III, J. D. R."
> 
> This seems to be based on narrow assumptions about the form of people's names internationally.

Yes, very narrow assumptions, and it may not be reasonable to keep making assumptions about the structure of names across cultures at all - there are conversations about just using the full name as presented, and not trying to provide any notion of things like "order by last name".

I see Koen De Schepper in the draft you pointed to in the first message, and right now, the versioned link at the datatracker provides
```
      <author initials="K." surname="De Schepper" fullname="Koen De Schepper">
         <organization>Nokia Bell Labs</organization>
      </author>
```
I think this is what is wanted (as long as we are decomposing names)? We will double-check that the bibxml service is making the same data available once the datatracker's authoritative source between the versioned and unversioned links becomes consistent.

Could you please point me to a concrete instance of the problem you are seeing with names like "John D. Rockefeller III"?


@rjsparks, I'll answer your question after asking my own:
Q2. Are you saying that, once the unversioned link includes surname and initials, multi-word surnames in references to drafts will start to render correctly? Or just that, it will at least then be _possible_ to alter xml2rfc (without needing heuristics) so that multi-word surnames reliably render correctly?

I ask because, in the history of the 3 drafts I used as examples, over an aggregate of 74 revisions since 2015, in references to a drafts, Koen's name has never rendered starting with "De Schepper".

> Could you please point me to a concrete instance of the problem you are seeing with names like "John D. Rockefeller III"?

I thought up JDR to illustrate how some multi-word surnames have words suffixed to the primary surname, rather than prefixed. Nonetheless, there is a concrete example of a similar name here:
https://datatracker.ietf.org/doc/bibxml3/draft-ietf-trill-ecn-support-07.xml
Interestingly, in the unversioned file with only the fullname, an heuristic (?perhaps) has managed to detect that the suffix is not the primary surname
https://datatracker.ietf.org/doc/bibxml3/draft-ietf-trill-ecn-support.xml

I believe outside the IETF, Donald writes it as 'III', so perhaps he had to use an initial digit to trigger the heuristic?
https://www.chessprogramming.org/Donald_Eastlake

It's all part of the process of emancipation. See https://en.wikipedia.org/wiki/Double-barrelled_name for the traditions in many countries. Indeed, I just learned from there that some Chinese surnames are starting to use two characters, one from each parent. 

@bbriscoe : the BibXML Service uses the Datatracker rsync endpoint for bulk data import. The missing XML attributes (i.e. only `fullname` available) originate from that data. Thanks to @cabo 's investigation, it seems to be a Datatracker issue that needs to be fixed. Once that issue is fixed (and #264), a reindex will resolve the problem.

Since the topic of correctness of initials and surname came up, I might as well add the following.

## Name model mismatch between Datatracker and RFC Editor/RPC

There is currently a data synchronicity issue between the Datatracker (which provides the `initials`, `lastname` and `fullname` attributes) and the RFC Editor. The RFC Editor/RPC **only** uses a "prefixed full name", which is a combination of the `initials` and `lastname`. The `fullname` is also dropped.

From rfc-index.xml:
```xml
    <rfc-entry>
        <doc-id>RFC7893</doc-id>
        <title>Pseudowire Congestion Considerations</title>
        <author>
            <name>Y(J) Stein</name>
        </author>
        <author>
            <name>D. Black</name>
        </author>
        <author>
            <name>B. Briscoe</name>
        </author>
```

## Correctness of initials and surname from the BibXML Service

Today (when the relevant issues are fixed), the BibXML Service performs the following treatment:
* For Internet-Drafts, faithfully provide the same name information as Datatracker
* For RFCs, attempt to re-build the `initials` and `surname` attributes from the RFC Editor's information. However, as you rightly pointed out, this is doomed to fail because of the simplistic assumptions.

Technically, if the RFC Editor's authoritative content can share the same name model as used by the Datatracker, this issue will "go away", as in, this becomes the author's sole responsibility, to fill in the name parts correctly, and the BibXML Service should accurately reflect that information.

The way forward with what to do with the name model has to be a community decision, there are at least two:
* Do not use assume that every culture uses "initials" or "surnames" (some do not use surnames, some use patronymic or matronymic names, etc). For example, let the author fill in what they want to see: an "abbreviated name" and a "full name". This is the more hand-wavy option but seems more reasonable at this point.
* Refine the name model to work for more cultures, provide more accurate structures. But this will take some momentous effort, and does not really help with the work of the RPC/RFC Editors.

## NB Chinese names

Other than emancipation, this is also a typical internationalization problem.

There are many Japanese/[Korean](https://en.wikipedia.org/wiki/List_of_Korean_surnames)/[Chinese](https://en.wikipedia.org/wiki/Chinese_compound_surname) surnames that traditionally have multiple characters. Many Japanese surnames are [double-charactered](https://en.wikipedia.org/wiki/List_of_common_Japanese_surnames), some even [three-charactered](https://www.japantimes.co.jp/life/2018/08/13/language/japanese-surnames-among-usual-suspects-youre-bound-find-curveballs/).

@bbriscoe I'm just adding some background to a few things that have been mentioned in this issue. I'll try to move the conversations somewhere else. 

Providing some background for John's comment above:

> The citation style of initials and surname is one of those things that just happened a long time ago probably because it was the style used in a journal article somewhere. 

The use of a single initial was specified no later than 1993 in [RFC 1543](https://www.rfc-editor.org/rfc/rfc1543#section-4) has been propagated to the present Style Guide (which does now allow for multiple initials, but the default is still a single initial): 
https://www.rfc-editor.org/rfc/rfc7322#section-4.1.1
https://www.rfc-editor.org/rfc/rfc7322#section-4.8.6.2

> The current Chicago Manual shows full names in their example references and I think we should take the hint. 

@jrlevine I was going to ask if you wanted to open an issue on 7322bis, but I see that it's already captured in [Issue 2](https://github.com/rfc-format/draft-flanagan-7322bis/issues/2). 

@ronaldtse Perhaps the discussion of aligning bib data between datatracker and RFC Editor should happen somewhere in another thread? 

Because rfc-index.xml was mentioned here, I'll just note that the author information provided in rfc-index.xml mirrors the author information that the RFC Editor database contains (i.e., a text field with one or more initials and a last name). The database doesn't contain fields such as author first name, last name, surname, initials, etc.  

Note that the RPC is starting a tools modernization project, which encompasses the RFC Editor database.  The RPC will be discussing how to capture and share author information going forward.

Thank you everyone for the insights about possible changes in reference style, and about convergence between the RFC Editor's name model and that of the datatracker. Now that is all clear, I agree that those discussions should be elsewhere. We need to separate policy discussions from mechanism.

With both the current reference style and any possible new style policy, multi-word surnames need to be rendered as multi-word surnames. So, in this issue thread, can we just focus on what needs to be done to fix that. And given there are apparently two name models, whether a fix is possible only using one model, the other, or both.

I don't think I got an answer to my question (to @rjsparks, but I'll take an answer from anyone):
Q2. Are you saying that, once the unversioned link [in the datatracker database] includes surname and initials, multi-word surnames in references to drafts will start to render correctly? Or just that, it will at least then be possible to alter [the] xml2rfc [code] (without needing heuristics) so that multi-word surnames reliably render correctly?

Currently, the inability to render some author's names correctly is disrespectful to those people,  so can we please keep that at the top of our minds.


On 2022-09-01, at 19:25, Bob Briscoe ***@***.***> wrote:
> 
> multi-word surnames in references to drafts will start to render correctly? 

See for instance RFC 9191 (or 9190, 9175).
https://www.rfc-editor.org/rfc/rfc9191.html
https://www.rfc-editor.org/rfc/rfc9191.txt
https://datatracker.ietf.org/doc/html/rfc9191

John Preuß Mattsson is one of the authors.

On the first page, as well as in rfc-index, he is called J. Preuß Mattsson (according to the old initials style that RFC 7322 requires).
(There are several earlier RFCs, including v3 RFCs, where John lost the “Preuß”; this now seems to get more attention.)

https://www.rfc-editor.org/rfc/rfc-index.txt

To get this, the XML says:

    <author initials="J." surname="Preuß Mattsson" fullname="John Preuß Mattsson">

One other co-author, “S. Turner” on front page and rfc-index, has:

    <author initials="S" surname="Turner" fullname="Sean Turner">

(As you can see, the “S” is processed into “S.”.)

So I believe we have everything in place on the xml2rfc side to do initials-style names with multi-word surnames.

With fullname=, we also have everything in place for a transition to full names.  (Kramdown-rfc also has some support making this easy to use in the author-supplied bibliography, see <https://mailarchive.ietf.org/arch/msg/rfc-markdown/G94QEYPZuCXPKdUb7LQGV1pFTaQ>.)


We just have to make sure that this information also is available in our reference bibliographies and in documents being authored now.

Grüße, Carsten



Thank you, Carsten (@cabo), for checking this. So, where do we go from here? Who finds out why the unversioned bibxml on the datatracker has fields stripped out, and gets it fixed?


Aside from these primary questions, I'm now going to go off on a slight tangent myself, ...
Perhaps more interesting is the [CBOR-CERT] reference to a _draft_ authored by John Preuß Mattsson within RFC9191. The unversioned bibxml only has the fullname:
https://datatracker.ietf.org/doc/bibxml3/draft-mattsson-cose-cbor-cert-compress.xml
```
<author fullname="John Preuß Mattsson">
    <organization>Ericsson AB</organization>
</author>
```
But the RFC Editor has correctly rendered the reference as 
```
Raza, S., Höglund, J., Selander, G., Preuß Mattsson, J., and M. Furuhed, "CBOR Encoded X.509 Certificates (C509 Certificates)"...
```
I'm guessing this might be because the RFC Editor has to reference a specific version of the draft, rather than the latest, because it has to remain static for all time. So, one can see in [the XML for RFC 9191](https://www.rfc-editor.org/rfc/rfc9191.xml) that the bibxml has been included inline, with 

```
        <reference anchor="I-D.mattsson-cose-cbor-cert-compress" quoteTitle="true" target="https://datatracker.ietf.org/doc/html/draft-mattsson-cose-cbor-cert-compress-08" derivedAnchor="CBOR-CERT">
          <front>
            <title>CBOR Encoded X.509 Certificates (C509 Certificates)</title>
...
            <author initials="J." surname="Preuß Mattsson" fullname="John Preuß Mattsson">
              <organization showOnFrontPage="true">Ericsson AB</organization>
            </author>
...
          </front>
          <seriesInfo name="Internet-Draft" value="draft-mattsson-cose-cbor-cert-compress-08"/>
          <refcontent>Work in Progress</refcontent>
        </reference>
``` 

If they pull this in from the data tracker using the versioned bibxml file, it will of course be correct:
https://datatracker.ietf.org/doc/bibxml3/draft-mattsson-cose-cbor-cert-compress-08.xml


Bob - apologies that you didn't get as concise a response as you were looking for. 

We are tracking the problem with the source data from the datatracker at https://github.com/ietf-tools/datatracker/issues/4384. It will get corrected. When it is corrected, the behavior from xml2rfc will be the same as what we currently see if a versioned reference is provided. I am not claiming that that behavior is correct, or what we want going forward.

It is a bigger question what the best behavior to aim for is. As @ajeanmahoney mentioned, it's already on the list of things the RPC will look at as they are updating their tooling, and there should be an RSWG level conversation about whether last names and initials are really things that we should even _try_ to model going forward. Moving to a model where we provide full names and the author tells us how that name should be presented seems the better path to me personally.

We should let people specify a name string, similar how we let them now specify an address string.

For background, this is the page a former colleague has: https://asokan.org/asokan/name.php

@cabo FYI:

https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9190.xml
```
<author fullname="J. Preuß Mattsson" initials="J." surname="Preuß Mattsson"/>
```

This reflects accurately the data provided by rfc-index.xml.

I am not sure where you got this information from:
>             <author initials="J." surname="Preuß Mattsson" fullname="John Preuß Mattsson">

Specifically, rfc-index.xml gives us this. 
```xml
<author>
<name>J. Preuß Mattsson</name>
</author>
<author>
<name>M. Sethi</name>
</author>
```

There's no sight of the word "John". I suspect you are referring to the I-D that is in RFC XML format, not the bibliographic information published by the RPC.

This was less a comment on your software than a comment on the overall characteristics of the service created.
We'll need to migrate to data sources that don't have this problem any more, but that is further out, I'd say.

If the RFC bibliographic data provides full information like that of the Internet-Drafts, then we won't have this problem. As you pointed out, there are a few moving blocks that need to be resolved before the data can fully align.

In response to @rjsparks, I believe this issue is about future things and requires changing several pieces (RPC practice + database, data model alignment, specs). 

Can we rename the title and group it under such a milestone so we don't miscategorize or forget this?

It's not clear that the bibxml project would need to track it? If the datafeeds from the datatracker and rfc-editor changes, wouldn't the right thing happen here with the existing code?

The bigger issue won't be forgotten - it will be a big topic for the RSWG (and other parts of the I* leadership) to deal with.

On 2022-09-01, at 20:49, Carsten Bormann ***@***.***> wrote:
> 
> see <https://mailarchive.ietf.org/arch/msg/rfc-markdown/G94QEYPZuCXPKdUb7LQGV1pFTaQ>

(I now collected this and some more information in https://github.com/cabo/kramdown-rfc/wiki/Human-Names — this is a Wki, so feel free to add further discussion.)

Grüße, Carsten



@ronaldtse What's the status of this issue? The mentioned dependencies (https://github.com/ietf-tools/bibxml-service/issues/264, https://github.com/ietf-tools/datatracker/issues/4384) have been closed. Thanks!

This issue seems to be resolved.
https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.ietf-tsvwg-l4s-arch.xml produces:
```
<reference anchor="I-D.ietf-tsvwg-l4s-arch" target="https://www.ietf.org/archive/id/draft-ietf-tsvwg-l4s-arch-20.txt">
<front>
<title>
Low Latency, Low Loss, Scalable Throughput (L4S) Internet Service: Architecture
</title>
<author fullname="Bob Briscoe" initials="B." surname="Briscoe">
<organization>Independent</organization>
</author>
<author fullname="Koen De Schepper" initials="K." surname="De Schepper">
<organization>Nokia Bell Labs</organization>
</author>
<author fullname="Marcelo Bagnulo" initials="M." surname="Bagnulo">
<organization>Universidad Carlos III de Madrid</organization>
</author>
<author fullname="Greg White" initials="G." surname="White">
<organization>CableLabs</organization>
</author>
<date day="29" month="August" year="2022"/>
<abstract>
<t>
This document describes the L4S architecture, which enables Internet applications to achieve Low queuing Latency, Low Loss, and Scalable throughput (L4S). L4S is based on the insight that the root cause of queuing delay is in the capacity-seeking congestion controllers of senders, not in the queue itself. With the L4S architecture all Internet applications could (but do not have to) transition away from congestion control algorithms that cause substantial queuing delay, to a new class of congestion controls that can seek capacity with very little queuing. These are aided by a modified form of explicit congestion notification (ECN) from the network. With this new architecture, applications can have both low latency and high throughput. The architecture primarily concerns incremental deployment. It defines mechanisms that allow the new class of L4S congestion controls to coexist with 'Classic' congestion controls in a shared network. The aim is for L4S latency and throughput to be usually much better (and rarely worse), while typically not impacting Classic performance.
</t>
</abstract>
</front>
<seriesInfo name="Internet-Draft" value="draft-ietf-tsvwg-l4s-arch-20"/>
<format target="https://www.ietf.org/archive/id/draft-ietf-tsvwg-l4s-arch-20.txt" type="TXT"/>
</reference>
```

Which generates the following in xml2rfc text output:
```
   [I-D.ietf-tsvwg-l4s-arch]
              Briscoe, B., De Schepper, K., Bagnulo, M., and G. White,
              "Low Latency, Low Loss, Scalable Throughput (L4S) Internet
              Service: Architecture", Work in Progress, Internet-Draft,
              draft-ietf-tsvwg-l4s-arch-20, 29 August 2022,
              <https://www.ietf.org/archive/id/draft-ietf-tsvwg-l4s-
              arch-20.txt>.
```

Sorry for the late response @ajeanmahoney , the issue is indeed resolved as per @kesara . Thanks!

It works for me. Thank you everyone. 