Add WHATWG specifications

### Description

Please add WHATWG specifications <https://spec.whatwg.org/> into the database.

Currently, some WHATWG specs can be referenced through the W3C namespace, but this is neither ideal (as they point to URLs that redirect) nor consistent (`W3C.html` and `W3C.eventsource` (which is a section in HTML spec) exist but not `W3C.fetch`). WHATWG is relevant enough that it should have its own namespace instead.

### Code of Conduct

- [x] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

Hi Ted @tedharrison-rpc, 

Any progress on this issue? Unable to update an I-D because of this.

You should not be blocked, only inconvenienced. 

You can build whatever reference you need explicitly. @tedharrison-rpc isn't who can add datasets to bibxml, that's the tools team, but he or someone else in the RPC _can_ help you construct the reference you can place directly in your draft. Please reach out to rfc-editor@rfc-editor.org for that assistance.

If you're working in markdown, you could also ask @cabo or tools-discuss@ or rfc-interest@ for a nudge if you're not finding examples in existing draft repos.

Adding more datasets (like whatwg) to bibxml is a possibility but it is not a current priority. We'll leave this issue open to track the request.

@rjsparks Thanks for your response. Yes, I am not blocked, but am certainly inconvenienced (especially when compared to, say, [specref](https://www.specref.org/) on the W3C side). 

I am able to construct the references myself, not a problem! I would much rather have something "standard" for well established standards for the sake of consistency and correctness.  I am hitting some common references with inconsistent and/or incorrect information, some because they are being written by hand. 

However, I find the "priority" bit unreasonable. WHATWG references, like the ones I mentioned above, are being routinely referenced incorrectly. Case in point, SSE/EventSource. Even newer RFC (e.g. RFC 8620, RFC 8895), after the spec was transitioned to WHATWG are referring to historic W3C links, which do not even redirect to the right place. No doubt because authors are pulling this incorrect entry from bibxml. HTML, Fetch and SSE are extremely common standards (heck, you are using the first two right now) to not have standardized references.  I sure hope you would change your mind on that.  

@cabo has helped me a lot with markdown issues, but I do not think he is right person to bother about this. This is definitely a bibxml issue.

@CxRes Sorry for the late response. 

WHATWG has confirmed that the template I provided for WHATWG Living Standards is an acceptable format. That is (using URL Pattern as an example): 

```
[URL-PATTERN] WHATWG, "URL Pattern", WHATWG Living Standard, https://urlpattern.spec.whatwg.org/.
Commit snapshot: https://urlpattern.spec.whatwg.org/commit-snapshots/d13ebead18003059a83ca4a25240e5cafc066c4c/
```

Couple of points:

> WHATWG references, like the ones I mentioned above, are being routinely referenced incorrectly. Case in point, SSE/EventSource. Even newer RFC (e.g. RFC 8620, RFC 8895), after the spec was transitioned to WHATWG are referring to historic W3C links, which do not even redirect to the right place. No doubt because authors are pulling this incorrect entry from bibxml. 

For context, I joined the RFC Production Center (formerly RFC Editor) team in March 2024, and have been working on identifying and fixing issues like this, so some of the the past RFCs will have inconsistencies with respect to references. 

WHATWG standards are (from my experience) not referenced very often - at least in drafts that have entered the RFC editor queue in the last year. I have reviewed ~300ish I-Ds in the RFC queue and WHATWG standards have been referenced in < 5 of those documents. This doesn't mean they aren't important, but there are larger issues with the bibxml service that need attention before we can start adding more into it. That being said, I review almost all I-Ds that become RFCs and make sure to update WHATWG references using the template I mentioned earlier.

>  I am hitting some common references with inconsistent and/or incorrect information, some because they are being written by hand.

This is my day-to-day work so I appreciate you bringing this up. I will be adding clearer reference style guidance to authors.ietf.org in the next few weeks that will hopefully help with this problem.

FYI: The RPC has started holding monthly community calls where we share what we are currently working on, provide information on upcoming updates, and take questions from the community. The next one is tomorrow (22 Oct) at 1700 UTC if you are able to attend (https://mailarchive.ietf.org/arch/msg/rfc-interest/rCTPBXkEAbbu3kDDGUAWEQ4pTJM/).

(Also, a potential minor nit about specref: Although there search is quite good, they use a template for RFCs that doesn't match the recommended citation format for RFCs. For example:

From Specref:

> W. Roome; Y. Yang. [Application-Layer Traffic Optimization (ALTO) Incremental Updates Using Server-Sent Events (SSE)](https://www.rfc-editor.org/rfc/rfc8895). November 2020. Proposed Standard. URL: https://www.rfc-editor.org/rfc/rfc8895

From the "Cite this RFC" on RFC 8995 info page (https://www.rfc-editor.org/info/rfc8895)

> Roome, W. and Y. Yang, "Application-Layer Traffic Optimization (ALTO) Incremental Updates Using Server-Sent Events (SSE)", RFC 8895, DOI 10.17487/RFC8895, November 2020, <https://www.rfc-editor.org/info/rfc8895>. 

)

@tedharrison-rpc Thanks for your reassuring response. This has been an incredibly busy period for me, so joining the meeting was not feasible (also It's quite late in the night for me here in India). But I might join next month because I have XML issues as well.

As for specref, let me not give the impression that it is perfect. It is just easier to PR reference there. Besides, I sometimes find it silly that each SDO maintains their own database.

@CxRes with regard to your issues with XML: if you aren't able to find the solution on [authors.ietf.org](https://authors.ietf.org/en/getting-help), feel free to email support@ietf.org or reach out to some of the mailing lists on that help page; you may get a more immediate answer.

Also, just an FYI: past community calls are uploaded to YouTube: https://www.youtube.com/@ietf (see also: https://datatracker.ietf.org/group/rpc/meetings/)