informative information in md file, some RFCs/I-Ds can not be resolved

### Describe the issue

the origianl words in md file: 
informative:
  RFC3704:
  RFC8704:
  RFC8955:
  RFC8956:
  I-D.ietf-sidrops-bar-sav:
  I-D.ietf-savnet-intra-domain-architecture:
  I-D.ietf-savnet-inter-domain-architecture:
...

When I validated the md draft with idnits, reports:
Unable to resolve external request: "https://bib.ietf.org/public/rfc/bibxml/reference.RFC.8955.xml"
Unable to resolve external request: "https://bib.ietf.org/public/rfc/bibxml/reference.RFC.8956.xml"
Unable to resolve external request: "https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.ietf-sidrops-bar-sav.xml"
Unable to resolve external request: "https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.ietf-savnet-intra-domain-architecture.xml"
Unable to resolve external request: "https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.ietf-savnet-inter-domain-architecture.xml"
Unable to resolve external request: "https://bib.ietf.org/public/rfc/bibxml/reference.RFC.8955.xml"
Unable to resolve external request: "https://bib.ietf.org/public/rfc/bibxml/reference.RFC.8956.xml"
Unable to resolve external request: "https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.ietf-sidrops-bar-sav.xml"
Unable to resolve external request: "https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.ietf-savnet-intra-domain-architecture.xml"
Unable to resolve external request: "https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.ietf-savnet-inter-domain-architecture.xml"
(0) IDREF attribute target references an unknown ID "RFC8955", at None
(0) IDREF attribute target references an unknown ID "I-D.ietf-savnet-intra-domain-architecture", at None
(0) IDREF attribute target references an unknown ID "I-D.ietf-sidrops-bar-sav", at None
(0) IDREF attribute target references an unknown ID "I-D.ietf-savnet-inter-domain-architecture", at None
(10) Invalid document before running preptool.



### Code of Conduct

- [x] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

the bibxml service was not functioning correctly at that time, that has sinc ebeen resolved.