bibxml (bibxml-rfcs): missing initials attribute for author of RFC 4885

### Describe the issue

Please see https://bib.ietf.org/public/rfc/bibxml/reference.RFC.4885.xml

The following author information:
```<author fullname="H-Y. Lach" surname="H-Y. Lach"/>```

Should be:
```<author fullname="H-Y. Lach" initials="H-Y." surname="H-Y. Lach"/>

The source data in rfc-index.xml seems to be okay, but maybe there's a issue creating the bibxml data due to the hyphen? 

I've also checked another RFC that has an author with hyphenated initials (RFC 6184). Its bibxml data is correct and xml2rfc renders it correctly: https://bib.ietf.org/public/rfc/bibxml/reference.RFC.6184.xml

Note that xml2rfc handles the bibxml data for RFC 4885 by converting the bibxml data to "Lach, H.". 


### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

We have found some more examples of missing author initials in the bibxml files. In these RFCs, the author mostly presents his initials as Y(J):

[RFC 4553](https://www.rfc-editor.org/rfc/rfc4553)    (everything matches here, but the initials do not include parentheses)
Document header: YJ. Stein, Ed.	
[bibxml](https://bib.ietf.org/public/rfc/bibxml/reference.RFC.4553.xml): fullname="YJ. Stein" initials="YJ." role="editor"
reference output: YJ. Stein, Ed.

In the following RFCs, where the author places one initial in parentheses, the initials attribute is missing in the bibxml and the initial in parentheses is missing in the output:

[RFC 5087](https://www.rfc-editor.org/rfc/rfc5087)   
Document header: Y(J). Stein		
[bibxml](https://bib.ietf.org/public/rfc/bibxml/reference.RFC.5087.xml): fullname="Y(J). Stein" surname="Y(J). Stein" 
reference output: Stein, Y.

[RFC 5287](https://www.rfc-editor.org/rfc/rfc5287)   
Document header: Y(J). Stein		
[bibxml](https://bib.ietf.org/public/rfc/bibxml/reference.RFC.5287.xml): fullname="Y(J). Stein" surname="Y(J). Stein"
reference output: Y. Stein

[RFC 6310](https://www.rfc-editor.org/rfc/rfc6310)   
Document header: Y(J). Stein
[bibxml](https://bib.ietf.org/public/rfc/bibxml/reference.RFC.6310.xml): fullname="Y(J). Stein" surname="Y(J). Stein"
reference output: Y. Stein

[RFC 7893](https://www.rfc-editor.org/rfc/rfc7893) 
Document header:  Y(J) Stein
[bibxml](https://bib.ietf.org/public/rfc/bibxml/reference.RFC.7893.xml): fullname="Y(J) Stein" surname="Y(J) Stein
reference output:  Stein, Y.


Hi all, is there a status update on this? Thanks!

This will get tied into the re-calculation of all of bibxml-ids (as the datatracker Author records will get updated). It's suffering from _exactly_ the same problem bibxml-ids is.