bib.ietf.org doesn't have bib info for most recent RFCs

### Describe the issue

bib.ietf.org is not serving bib data for RFCs published after Aug 11. 

Data for RFC 9270 is available (published Aug 11): 
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9270.xml

But data for RFCs published after (e.g., RFC 9273, published Aug 17) is not:
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9273.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9288.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9293.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9253.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9294.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9287.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9296.xml

The list of the latest RFCs may be found on the right side of [rfc-editor.org](https://www.rfc-editor.org/). 

I have verified that rfc-index.xml is up to date. 


### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

Is there a way to verify when the last indexing process was run?
At the moment management console looks like this:
<img width="1531" alt="Screen Shot 2022-08-25 at 7 45 09 AM" src="https://user-images.githubusercontent.com/1027692/186509633-dac6da73-633f-485b-88d4-4fd05b2805bc.png">

bib.ietf.org has the following value for autoindexing (in seconds):
```
AUTO_REINDEX_INTERVAL=86400
```



I redeployed the bibxml-service, this fixed the indexing status issues for subsets and I was able to run reindex on rfcs.

Note, before redeploying I ran the *reset index*, to see if that allows me to run *reindex* again. But that didn't work.

Still some RFCs don't work:
* https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9270.xml (used to work earlier)
* https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9296.xml

There are errors on rfc indexing log:
```
Requested for: all
Total: 9084
Indexed: 9084
Problem items: 6836
Problem items:
RFC0114:
    type_error.str at keyword: str type expected
    type_error.str at keyword: str type expected
RFC0133:
    type_error.str at keyword: str type expected
    type_error.str at keyword: str type expected
...
RFC9294:
    type_error.str at keyword: str type expected
    type_error.str at keyword: str type expected
    type_error.str at keyword#2: str type expected
    type_error.str at keyword#3: str type expected
    type_error.str at keyword#4: str type expected
    type_error.str at keyword#5: str type expected
RFC9296:
    type_error.str at keyword: str type expected
    type_error.str at keyword: str type expected
    type_error.str at keyword#2: str type expected
    type_error.str at keyword#3: str type expected
```
Some of the RFC citations with errors work fine.


Complete log from reindexing for rfc subset: [404s.log](https://github.com/ietf-tools/bibxml-service/files/9419599/404s.log)


Complete log: [bibxml_rfc_logs.txt](https://github.com/ietf-tools/bibxml-service/files/9419614/bibxml_rfc_logs.txt)


This looks like a clear regression due to a change in data format. Working on it, expect a push to master within this hour.

Created a PR rather than pushing to master in this case.

@kesara please take a look? Note, after merging for changes to take effect it might be necessary

- to tag the repository to have CI release/deploy a new version (I don’t think my release tag made it via PR)
- to reindex the `rfcs` source (this may not be required but is a good thing to do)

- Will follow up with the issue regarding indexing. It could be that celerybeat scheduler that queues tasks has died. If this wasn’t caught by Sentry integration, that might be an issue we should address.
- However, the bigger issue here is unexpected source data format change, which prevented the XML serializer from being invoked since new shape of YAML data couldn’t be validated by Pydantic.
- Long-term fix is avoiding unexpected changes in Relaton data sources by pinning by major gem version in data source repository GHA workflows and ensuring Relaton data source maintainers never introduce breaking format changes between major versions.

> And the reindexing doesn't seem to run on frequent intervals.

@kesara, so far I’m unable to reproduce this. When I run this service with a low `AUTO_REINDEX_INTERVAL` value (e.g., 60 seconds), I see tasks being queued. (The queue grows faster than it’s emptied, due to such a low value.)

- Perhaps task scheduler fell with an error, have you checked whether anything was reported via Sentry?
- If you use the bundled Compose configuration, you should have [Celery exporter](https://github.com/ietf-tools/bibxml-service/blob/d480f8d919e3a49e23f9d379c715e09b2fbec030/docker-compose.yml#L155-L161) container exporting Prometheus metrics which include the counter of received Celery tasks. Tracking this and spotting when no new tasks appear for prolonged period of time could be another way

@strogonoff The auto reindexing seems to work since the redeployment.
bib.ietf.org is using the bundled docker-compose with a few minor changes.

@kesara The following error appears related to this issue.

I have a document [1] with the following xi:includes. 
Note that RFC 9287 was published 2022 Aug 23. The others are of course older.

```
<xi:include href="https:///xml2rfc.ietf.org/public/rfc/bibxml/reference.RFC.9287.xml"/>
<xi:include href="https://xml2rfc.ietf.org/public/rfc/bibxml/reference.RFC.3168.xml"/>
<xi:include href="https://xml2rfc.ietf.org/public/rfc/bibxml/reference.RFC.4787.xml"/>
``` 

Running xml2rfc on the document fails with the following error (but just for RFC 9287, which is the newest):

```
Error: Failure fetching URL https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.9287.xml (HTTPSConnectionPool(host='xml2rfc.tools.ietf.org', port=443): Max retries exceeded with url: /public/rfc/bibxml/reference.RFC.9287.xml (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)'))))
Error: Failure fetching URL https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.9287.xml (HTTPSConnectionPool(host='xml2rfc.tools.ietf.org', port=443): Max retries exceeded with url: /public/rfc/bibxml/reference.RFC.9287.xml (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)'))))
Error: Unable to resolve external request: "https://xml2rfc.ietf.org/public/rfc/bibxml/reference.RFC.9287.xml"
Error: XInclude processing failed: could not load https://xml2rfc.ietf.org/public/rfc/bibxml/reference.RFC.9287.xml, and no fallback was found, line 1381
```

Changing 
```https://xml2rfc.ietf.org/public/rfc/bibxml/reference.RFC.9287.xml ``` 
to 
```https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9287.xml``` 

doesn't have any impact. 

[1] https://rfc-editor.org/v3test/with_new_rfc_bib.xml

9287 indeed is not being indexed.
But I'm separately concerned about "SSL: CERTIFICATE_VERIFY_FAILED" - why are we having that friction?

@strogonoff @ronaldtse  - Please treat this (that bib.ietf.org isn't returning info for RFCs past mid-august as extremely urgent.

(The SSL certificate part is not your issue - it's entirely ours and is being worked on)

RFC 9287 apparently [is indexed](https://bib.ietf.org/get-bibliographic-item/?query=rfc+9287), so I believe the issue is data format change causing validation errors.

> However, the bigger issue here is unexpected source data format change. The validation errors listed by Kesara didn’t completely break web GUI (only caused keywords to be displayed awkwardly), but did break xml2rfc paths. New shape of YAML data couldn’t be validated by Pydantic, and this prevented the XML serializer from being invoked.

> Long-term fix is avoiding unexpected changes in Relaton data sources by pinning by major gem version in data source repository GHA workflows and ensuring Relaton data source maintainers never introduce breaking format changes between major versions.

Part of it (changed keyword format) was addressed. Turns out there were more changes (changed person name format, which was done to accommodate initial formatting requests), is being fixed now.

@kesara could you look at https://github.com/ietf-tools/bibxml-service/pull/282/? It should address this issue by adjusting source data to what current version of `relaton-py` expects (while we are updating `relaton-py` typings to accommodate new source data structures).

#282 from @strogonoff has fixed this issue (thanks!). Thanks @ajeanmahoney for raising this issue!

I've verified all the links in the OP and they are now available:
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9273.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9288.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9293.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9253.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9294.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9287.xml
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9296.xml

This is a screenshot of the first one:
https://bib.ietf.org/public/rfc/bibxml/reference.RFC.9273.xml

<img width="1147" alt="Screen Shot 2022-08-31 at 4 15 02 PM" src="https://user-images.githubusercontent.com/11865/187628744-3813eba0-ed83-40b9-a86d-63ea49bcd591.png">



Yes, I verified that I can pull data for RFCs that were published up to Aug 29, thanks!

However, there have been 6 published since then that don't have bib data available yet (RFCs 9292, 9284, 9277, 9052, 9053, 9054). These were all published about 14-15 hours ago. How often does the bibxml-service poll for new data? 

@ajeanmahoney I believe:
* the BibXML Service refreshes the RFC dataset daily
* then the indexer indexes them daily as well

We can make these two processes more frequent if desired. What would you prefer?

Is, say, hourly really going to be particularly expensive?

The community gets twitchy when they try to link to their just published thing and run into trouble. It might take them longer to want to refer to it from a draft, but I can see the case where they wouldn't wait.

> Is, say, hourly really going to be particularly expensive?

Not on the generation side (because GHA is free for public repositories), but it will consume additional resources on the IETF infrastructure due to more frequent indexing.

@rjsparks please feel free to start a new issue on the frequency of updates on data sources once a decision is made, thanks!