Losing <tt and sorrounding whitespace from abstract

### Describe the issue

https://bib.ietf.org/get-one/by-docid/?docid=RFC+9165&doctype=IETF&query=9165&query_format=docid_regex&page=1

### Code of Conduct

- [x] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

The API for RFC reference information is https://www.rfc-editor.org/rfc-index.xml, which does not contain text formatting such as `<tt/>`, so the abstract provided by bib.ietf.org won't have it either. 

However, rfc-index.xml has the correct spaces around the terms:
```
The present document defines a number of control operators that were
not yet ready at the time RFC 8610 was completed: .plus, .cat, and
.det for the construction of constants; .abnf/.abnfb for including
ABNF (RFC 5234 and RFC 7405) in CDDL specifications; and .feature for
indicating the use of a non-basic feature in an instance.
```
So I don't know what happened there.

There's no spaces in the [relaton source file](https://github.com/ietf-tools/relaton-data-rfcs/blob/main/data/RFC9165.yaml).

So this is an issue in [relaton-ietf](https://github.com/relaton/relaton-ietf) gem.

In our database and rfc-index.xml, this abstract (and also the abstracts of RFCs 9396 and 9495) initially had `<tt/>` formatting, which is why the spacing was incorrect. 
The updated rfc-index.xml should be pulled into bib.ietf.org again to fix the spacing issue. 